@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  overflow: hidden;
}

section {
  &:nth-of-type(1) {
    background-image: url(../background/Background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:nth-of-type(2) {
    background-image: url(../background/Background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:nth-of-type(3) {
    background-image: url(../background/Background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:nth-of-type(4) {
    background-image: url(../background/Background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-primary {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.6);
}

.red {
  color: rgb(236, 67, 67);
}

span {
  padding: 0.2rem;
}
