.header {
  position: absolute;
}

.button {
  padding: 2rem;
}

.navigation {
  display: flex;
  justify-content: end;
  text-align: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.nav-list {
  padding-left: 0;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1rem 0;

  img {
    height: 2.5rem;
    width: auto;
    padding-right: 1rem;
  }

  & .link {
    display: flex;
    align-items: center;
    //justify-content: center;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.5);
    transition: all 0.2s;

    &:hover {
      color: rgb(214, 62, 74);
    }
  }
}

.menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgb(0, 0, 0);
  left: -100vw;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  top: 0;
}

.menu-icon {
  cursor: pointer;
  font-size: 20px;
  z-index: 2;
  padding-right: 20px;
}

.fa-bars {
  font-size: 30px;
  color: rgb(255, 255, 255);
}

#menuToggle {
  display: none;
  z-index: 4;
}

#menuToggle:checked ~ .menu {
  position: absolute;
  left: 0;
  z-index: -1;
}
