@media (max-width: 992px) {
  .logo {
    height: 7rem !important;
    width: auto;
  }

  .heading-primary {
    font-size: 2rem;
    text-align: center;
  }

  .heading-secondary {
    font-size: 1.5rem !important;
    text-align: center;
  }

  .grid-three-columns {
    display: none;
  }

  .soon {
    display: flex;
    justify-content: center;
  }

  .grid-two-columns {
    grid-template-columns: 1fr;
    gap: 2rem !important;
    justify-content: left !important;
  }

  .link {
    justify-content: center;
  }

  .icon {
    height: 3rem;
    width: auto;
  }
}

@media (max-width: 576px) {
  .video {
    display: none;
  }

  .hero-content,
  .projects-content {
    max-width: 70vw;
  }

  .hero-content-logos {
    display: grid !important;
    justify-content: center !important;
  }

  .logo {
    height: 5rem !important;
    width: auto;
  }

  .heading-primary {
    font-size: 1.5rem;
  }

  .heading-secondary {
    font-size: 1rem;
  }

  .icon {
    height: 1.5rem !important;
    width: auto;
  }
}
