@media (max-width: 992px) {
  .heading-primary {
    font-size: 2rem;
    text-align: center;
  }

  .heading-secondary {
    font-size: 1.5rem !important;
    text-align: center;
  }

  .icon {
    height: 3rem;
    width: auto;
  }

  /*HERO SECTION*/
  .logo {
    height: 7rem !important;
    width: auto;
  }

  /*PROJECTS SECTION*/
  .projects-content {
    max-width: 70vw;
  }

  .grid-three-columns {
    overflow-x: auto !important;
    width: 100%;
  }

  .card-paragraph {
    padding-bottom: 1rem;
  }

  .for-mobile {
    display: grid !important;
  }

  /*MORE SECTION*/
  .grid-two-columns {
    grid-template-columns: 1fr;
    gap: 2rem !important;
    justify-content: left !important;
  }

  .link {
    justify-content: center;
  }

  /*ABOUT SECTION*/
  .about {
    max-width: 80vw !important;

    &-text {
      font-size: 1rem !important;
    }
  }
}

@media (max-width: 576px) {
  .button {
    padding: 1rem !important;
  }

  .video {
    display: none;
  }

  .heading-primary {
    font-size: 1.5rem;
  }

  .heading-secondary {
    font-size: 0.8rem !important;
    padding-bottom: 2rem !important;
  }

  .icon {
    height: 1.5rem !important;
    width: auto;
  }

  /*HERO SECTION*/
  .hero-content {
    max-width: 70vw;
  }

  .hero-content-logos {
    display: grid !important;
    justify-content: center !important;
  }

  .logo {
    height: 5rem !important;
    width: auto;
  }

  /*PROJECTS SECTION*/
  .paragrowth,
  .specteared,
  .fimpossible {
    width: 11rem !important;

    img {
      height: 16rem !important;
      width: auto;
    }
  }
}
